* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u2_normal.png");
}

* html .u5_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u5_line.png");
}

* html .u7_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u7_line.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u9_normal.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u9_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u9_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u9_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u21_normal.png");
}

* html .u25_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u25_start.png");
}

* html .u25_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="QQ_微信登录后跳转的注册页_files/u25_line.png");
}

