* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u2_normal.png");
}

* html .u5_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u5_line.png");
}

* html .u7_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u7_line.png");
}

* html .u11_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u11_line.png");
}

* html .u14_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u14_line.png");
}

* html .u17_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u17_line.png");
}

* html .u20_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u20_line.png");
}

* html .u21_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u21_line.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u26_normal.png");
}

* html .u28_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u28_start.png");
}

* html .u28_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u28_line.png");
}

* html .u30_start {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u30_start.png");
}

* html .u30_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我发布的_files/u30_line.png");
}

